*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

:root{
  --pc: #f45b35;
  --sc: #feb47b;
  --tc: #4ecdc4;
  --txtc: #fff;
  --bc: #1a1a1d;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: var(--txtc);
    background-color: var(--bc);
}

.header1 h1 span{
   color: var(--pc);
}

.ul1{
    display: flex;
    gap: 20px;
    padding: 25px 25px 25px 25px;
    list-style: none;
}
.ul1 a{
    color: var(--txtc);
    text-size-adjust: calc();
    list-style: none;
    font-weight: bold;
    transition: .4s;
}

.ul1 a:hover{
    background-color: green;
}

.section1{
    text-align: center;
    padding: 50px 50px;
    background: linear-gradient(
        var(--pc),
        var(--tc)
    );
}

.exp-btn{
   font-weight: bold;
   border-radius: 20px;
   background-color: rebeccapurple;
   padding: 5px 35px;
   text-decoration: solid;
   transition-duration: 0.3s;
}   

.exp-btn:hover{
   background-color: #f45b35;
}


.section2{
    text-align: center;
    padding: 60px 10%;
    background-color: var(--txtc);
}

.desti_div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px;
}

.dest_card{
   
    position: relative;
    background-size: cover;
    overflow: hidden;  
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 500px;
    background-blend-mode: overlay;

    display: flex;
    justify-content:last baseline;
    align-items: last baseline;
    transition: transform 0.3s;
}

.dest_card:hover{
    transform: scaleY(1.5);
}

.section3{
    text-align: center;
    background-color: var(--tc);
     padding: 60px 10%;
}

.package_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px;
}

.pkg_crd{
    position: relative;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 50px;
    background-blend-mode: overlay;
    background-color: var(--pc);
    list-style: none;
    display: flex;
}

.contactus{
    display: flex;
    gap: 100px;
    align-items: left;
    justify-content: left;
    padding: 30px 40px;
    background-color: #f45b35;
}

.book_btn{
   font-weight: bold;
   border-radius: 20px;
   background-color: rebeccapurple;
   padding: 10px 35px;
   text-decoration: solid;
   transition-duration: 0.3s;
}

.b_btn:hover{
   transition-duration: 0.3s;
    transform: translateY(-10px);
}

.footer{
    display: flex;
    gap: 70px;
}

.developer{
    text-align: center;
}

